# Pathway Curation and Correlates Discovery

In [1]:
%pylab inline
import numpy as np
import pandas as pd
import networkx as nx
import pickle

pathways_df = pd.read_pickle('/Users/alex/Documents/proteomics/synthetic_proteomics/data_generation/KEGG_df.pickle')
pathways_df.head()

Populating the interactive namespace from numpy and matplotlib

                                                                                                genes  \
class              subclass               id
Cellular Processes  Cell growth and death hsa04110  [CCND1, CCND2, CCND3, CDK4, CDK6, RB1, RBL1, R...
                                          hsa04114  [INS, IGF1, IGF1R, PGR, AR, ADCY1, ADCY2, ADCY...
                                          hsa04115  [ATM, CHEK2, ATR, CHEK1, GORAB, CDKN2A, MDM2, ...
                                          hsa04210  [TNFSF10, TNFRSF10A, TNFRSF10B, TNFRSF10C, TNF...
                                          hsa04215  [TNFRSF1A, FADD, CASP8, CASP7, CASP3, BID, BCL...

                                                                            name
class              subclass               id
Cellular Processes  Cell growth and death hsa04110                    Cell cycle
                                          hsa04114                Oocyte meiosis
                                          hsa04115         p53 signaling pathway
                                          hsa04210                     Apoptosis
                                          hsa04215  Apoptosis - multiple species

# I. Pathway Curation

In [2]:
np.unique(pathways_df.index.get_level_values(0))

array(['Cellular Processes', 'Environmental Information Processing',
       'Genetic Information Processing', 'Human Diseases', 'Metabolism',
       'Organismal Systems'], dtype=object)

In [3]:
pathways_df = pathways_df.drop('Metabolism', level=0)

In [4]:
np.unique(pathways_df.index.get_level_values(0))

array(['Cellular Processes', 'Environmental Information Processing',
       'Genetic Information Processing', 'Human Diseases',
       'Organismal Systems'], dtype=object)

In [5]:
pathways_df.index.get_level_values(2).values

array(['hsa04110', 'hsa04114', 'hsa04115', 'hsa04210', 'hsa04215',
       'hsa04216', 'hsa04217', 'hsa04218', 'hsa04810', 'hsa04510',
       'hsa04520', 'hsa04530', 'hsa04540', 'hsa04550', 'hsa04136',
       'hsa04137', 'hsa04140', 'hsa04142', 'hsa04144', 'hsa04145',
       'hsa04146', 'hsa02010', 'hsa04010', 'hsa04012', 'hsa04014',
       'hsa04015', 'hsa04020', 'hsa04022', 'hsa04024', 'hsa04064',
       'hsa04066', 'hsa04068', 'hsa04070', 'hsa04071', 'hsa04072',
       'hsa04150', 'hsa04151', 'hsa04152', 'hsa04310', 'hsa04330',
       'hsa04340', 'hsa04350', 'hsa04370', 'hsa04371', 'hsa04390',
       'hsa04392', 'hsa04630', 'hsa04668', 'hsa04060', 'hsa04080',
       'hsa04512', 'hsa04514', 'hsa03018', 'hsa03050', 'hsa03060',
       'hsa04120', 'hsa04122', 'hsa04130', 'hsa04141', 'hsa03030',
       'hsa03410', 'hsa03420', 'hsa03430', 'hsa03440', 'hsa03450',
       'hsa03460', 'hsa03020', 'hsa03022', 'hsa03040', 'hsa00970',
       'hsa03008', 'hsa03010', 'hsa03013', 'hsa03015', 'hsa05200',
       'hsa05202', 'hsa05203', 'hsa05204', 'hsa05205', 'hsa05206',
       'hsa05210', 'hsa05211', 'hsa05212', 'hsa05213', 'hsa05214',
       'hsa05215', 'hsa05216', 'hsa05217', 'hsa05218', 'hsa05219',
       'hsa05220', 'hsa05221', 'hsa05222', 'hsa05223', 'hsa05224',
       'hsa05230', 'hsa05231', 'hsa05410', 'hsa05412', 'hsa05414',
       'hsa05416', 'hsa05418', 'hsa01521', 'hsa01522', 'hsa01523',
       'hsa01524', 'hsa04930', 'hsa04931', 'hsa04932', 'hsa04933',
       'hsa04940', 'hsa04950', 'hsa05310', 'hsa05320', 'hsa05321',
       'hsa05322', 'hsa05323', 'hsa05330', 'hsa05332', 'hsa05340',
       'hsa05100', 'hsa05110', 'hsa05120', 'hsa05130', 'hsa05131',
       'hsa05132', 'hsa05133', 'hsa05134', 'hsa05140', 'hsa05142',
       'hsa05143', 'hsa05144', 'hsa05145', 'hsa05146', 'hsa05150',
       'hsa05152', 'hsa05160', 'hsa05161', 'hsa05162', 'hsa05164',
       'hsa05165', 'hsa05166', 'hsa05167', 'hsa05168', 'hsa05169',
       'hsa05010', 'hsa05012', 'hsa05014', 'hsa05016', 'hsa05020',
       'hsa05030', 'hsa05031', 'hsa05032', 'hsa05033', 'hsa05034',
       'hsa04211', 'hsa04213', 'hsa04260', 'hsa04261', 'hsa04270',
       'hsa04360', 'hsa04380', 'hsa04970', 'hsa04971', 'hsa04972',
       'hsa04973', 'hsa04974', 'hsa04975', 'hsa04976', 'hsa04977',
       'hsa04978', 'hsa03320', 'hsa04614', 'hsa04910', 'hsa04911',
       'hsa04912', 'hsa04913', 'hsa04914', 'hsa04915', 'hsa04916',
       'hsa04917', 'hsa04918', 'hsa04919', 'hsa04920', 'hsa04921',
       'hsa04922', 'hsa04923', 'hsa04924', 'hsa04925', 'hsa04710',
       'hsa04713', 'hsa04960', 'hsa04961', 'hsa04962', 'hsa04964',
       'hsa04966', 'hsa04062', 'hsa04610', 'hsa04611', 'hsa04612',
       'hsa04620', 'hsa04621', 'hsa04622', 'hsa04623', 'hsa04640',
       'hsa04650', 'hsa04657', 'hsa04658', 'hsa04659', 'hsa04660',
       'hsa04662', 'hsa04664', 'hsa04666', 'hsa04670', 'hsa04672',
       'hsa04720', 'hsa04721', 'hsa04722', 'hsa04723', 'hsa04724',
       'hsa04725', 'hsa04726', 'hsa04727', 'hsa04728', 'hsa04730',
       'hsa04740', 'hsa04742', 'hsa04744', 'hsa04750'], dtype=object)

In [6]:
pathway_genes = {row.Index[2]: row.genes for row in pathways_df.itertuples()}

# II. Correlates Discovery

In [7]:
ovarian = pd.read_csv('/Users/alex/Documents/proteomics/data_preparation/proteomics_data/ovarian_inbiomap_exp.tsv', index_col=0)
ovarian.head()

,ZNF91,NDEL1,ELAVL1,SUMO1,SUMO3,CHMP5,UBC,HTT,E2F4,ACP5,...,SPANXN4,ZNF605,SERPINB10,ANKAR,RRH,DHH,CYSLTR1,ZNF268,COL23A1,MEDAG
PNNL-TCGA-09-1664,0.0,-0.119,-0.1880,0.5710,-0.224000,0.3320,0.0,-0.2160,0.205,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PNNL-TCGA-13-1484,0.0,0.000,-0.1210,-1.4500,0.079000,0.1030,0.0,-0.9750,0.000,0.175,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PNNL-TCGA-13-1488,0.0,0.000,-0.2190,-0.0765,-1.340000,-0.4200,0.0,0.0158,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PNNL-TCGA-13-1489,0.0,0.000,0.2360,0.7490,0.107000,-0.0168,0.0,-0.1470,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PNNL-TCGA-13-1494,0.0,0.433,0.0158,-0.2100,0.000859,-0.5270,0.0,0.0926,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
ovarian_corr = ovarian.corr().fillna(0)
ovarian_corr.head()

,ZNF91,NDEL1,ELAVL1,SUMO1,SUMO3,CHMP5,UBC,HTT,E2F4,ACP5,...,SPANXN4,ZNF605,SERPINB10,ANKAR,RRH,DHH,CYSLTR1,ZNF268,COL23A1,MEDAG
ZNF91,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NDEL1,0.0,1.000000,-0.073285,-0.025216,-0.126911,-0.088318,0.0,0.108099,-0.038949,0.066746,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ELAVL1,0.0,-0.073285,1.000000,0.124255,0.159750,0.220798,0.0,-0.169447,0.198932,-0.035839,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SUMO1,0.0,-0.025216,0.124255,1.000000,0.086653,-0.020583,0.0,0.031148,0.129732,-0.075274,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SUMO3,0.0,-0.126911,0.159750,0.086653,1.000000,0.082105,0.0,-0.063146,0.039365,-0.066734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Take the 100 top correlates for each pathway
Hard cutoffs at particular values were arbitrary and didn't work too well. The relative correlates in each dataset will matter most to regression anyhow.

In [9]:
correlates = {pathway: [abs(ovarian_corr.loc[genes, ~ovarian_corr.columns.isin(genes)].mean()).nlargest(100).index.values] for pathway, genes in pathway_genes.items()}

In [10]:
pd.DataFrame(correlates, index=['correlates']).transpose().rename_axis('id').head(10)

                                                 correlates
id
hsa00970  [DBT, AIMP2, TRAP1, HSPA9, TUFM, PNPT1, HSPD1,...
hsa01521                                                 []
hsa01522                                                 []
hsa01523                                                 []
hsa01524                                                 []
hsa02010  [MNDA, TAPBP, NCF1, ITGAM, FERMT3, HLA-C, GPSM...
hsa03008  [NGDN, RSL1D1, PDCD11, UTP3, NCL, NOL11, DDX27...
hsa03010  [SERBP1, RACK1, MRPS18B, RTN4, NACA, STOM, NOL...
hsa03013  [DHX9, PRPF8, CHD4, RBM12, SRRT, RBM39, HNRNPU...
hsa03015  [RBM12, HNRNPM, CHD4, RBM39, NONO, DHX9, HNRNP...

### Merge those into the pathways dataframe

In [11]:
pathways_df = pathways_df.join(pd.DataFrame(correlates, index=['correlates']).transpose().rename_axis('id'))

In [12]:
pathways_df.to_pickle('/Users/alex/Documents/proteomics/synthetic_proteomics/data_generation/KEGG_df.filtered.with_correlates.pickle')